{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}

    <img src="{{ asset('/images/tunisia.png') }}" alt="Tunisia Flag" class="h-32 rounded shadow-md">
    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600"> Hello from Tunisia !</h1>
    <p class="text-lg text-gray-800"> It's currently {{ 'now'|date('H:i A') }}.</p>

{% endblock %}